# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch/
*.obj
*.iobj
*.pch
*.pdb
*.idb
*.ilk
*.log
*.tlog/
*.aps
*.ncb
*.sdf
*.cache
*.dbmdl
*.bak
*.opendb
*.VC.db
*.VC.VC.opendb
*.vscode/
# 编译输出
Debug/
Release/
x64/Debug/
x64/Release/
Tictactoe/Release/
Tictactoe/x64/Debug/
Tictactoe/x64/Release/
Tictactoe_Setup/Debug/
# 资源文件
*.aps
*.rc
*.res
# 其他
*.zip
*.tmp
*.log
*.tlog/ 